@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Open Sans", sans-serif;
  color: var(--input);
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}
nav,
footer {
  flex: 1;
}
main {
  flex: 2;
}
