@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@500&display=swap");

:root {
  --primary-color: #5E50A1;
  --secondary-color: #FBB017;


  /* text-color */
  --text-primary: #1F2A36;
  --text-secondary: #46505C;
  --text-third: #9EA0A5;
  --text-fourth: #E2E5ED;

  /* background-color */
  --bg-primary: #F6F7F8;
  --bg-secondary: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Open Sans", sans-serif;
  color: rgba(158, 160, 165, 1);
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  background-color: var(--bg-primary) !important;
}

img {
  width: 100%;
}

.text-title {
  color: var(--text-primary);
}

.text-desc {
  color: var(--text-secondary) !important;
}

.text-desc2 {
  color: var(--text-third);
}

nav,
footer {
  flex: 1;
}
main {
  flex: 2;
}
main .wrapProfile {
  width: 100vw;
  position: relative;
  background-color: rgba(246, 247, 248, 1);
}
main .background {
  height: 300px;
  width: 100%;
  background-color: rgba(94, 80, 161, 1);
  position: absolute;
}
main .wrapProfile .wrapCardEdit {
  width: 30%;
  padding: 4rem 1rem;
  z-index: 1;
}
main .wrapProfile .wrapCardEdit .cardEditProfile {
  background-color: rgba(255, 255, 255, 1);
}
main .wrapProfile .wrapMainEdit {
  width: 45%;
  z-index: 1;
  padding: 4rem 1rem;
}
main .wrapProfile .wrapMainEdit .mainEditProfile .bio,
.mainEditProfile .skill,
.mainEditProfile .experience,
.mainEditProfile .portofolio {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
}
main .wrapProfile .btnGrup .btnUserSave {
  background-color: rgba(94, 80, 161, 1);
  color: white;
}
main .wrapProfile .btnGrup .btnUserCancel {
  background-color: white;
  color: rgba(94, 80, 161, 1);
  border: 2px solid rgba(94, 80, 161, 1);
}
main .wrapProfile .wrapMainEdit .mainEditProfile .bio .input input,
textarea {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid rgba(158, 160, 165, 1);
}
